
.forgot
{
    margin-top: 20px;
}
/*row
{
    width: 100px;
}*/
body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main
{
    flex: 1 0 auto;
}
.radio-white[type="radio"].filled-in:checked + label:after{
     border: 2px solid #ffffff;
     background-color: #ffffff;
}